{
    "title": "Excessive lipids in blood can result in very low vitamin D test results",
    "slug": "excessive-lipids-in-blood-can-result-in-very-low-vitamin-d-test-results",
    "aliases": [
        "/Excessive+lipids+in+blood+can+result+in+very+low+vitamin+D+test+results+\u2013+Oct+2020",
        "/12451"
    ],
    "tiki_page_id": 12451,
    "date": "2021-03-30",
    "categories": [
        "Obesity",
        "Tests"
    ],
    "tags": [
        "Obesity",
        "Tests",
        "autoimmune",
        "cholesterol",
        "health risk",
        "high dose",
        "intervention",
        "multiple sclerosis",
        "obesity",
        "therapeutic intervention",
        "vitamin d"
    ]
}


#### The Role of Interferences in the Increasing Incidence of Vitamin D Deficiency

Endocrine, Metabolic & Immune Disorders - Drug Targets, Volume 20 , Issue 8 , 2020.DOI : 10.2174/1871530320666200604160208

Ataman Gonel*, Idris Kirhan, Ismail Koyuncu, Nihayet Bayraktar, Mujgan Ercan Karadag, Mehmet Karadag

<div class="border" style="background-color:#FFFAE2;padding:15px;margin:10px 0;border-radius:5px;width:800px">

Summary: 21% of the 100 people with high lipids had a false reading of 10 ng, 

&nbsp; &nbsp; untill the blood was dilluted 10X, when the reading became 39 ng

[this problem is also described in a book on Vitamin D Testing](https://VitaminDWiki.com/Problems+with+Vitamin+D+Testing+%E2%80%93+chapter+%E2%80%93+Aug+2019#Lipophilicity_of_Vitamin_D:~:text=As%20a%20steroid%20molecule%2C%20derivative%20of,fractions%20of%20a%20biological%20fluid%20%5B8%5D.) but describes other solutions than dillution

</div>

<img src="https://d378j1rmrlek7x.cloudfront.net/attachments/jpeg/interferants.jpg" alt="image" width="700">

Objective: Lipemia is one of the causes of interference in immunoassay and LC-MS/MS methods. Increased prevalence of vitamin D deficiency in the US, where obesity is gradually increasing, raises the suspicion that high levels of fat diet and blood lipid levels interfere with vitamin D measurement results. The focus of this study was to investigate the effect of blood lipid profiles on vitamin D results and prevent the matrix effect.

Material and Methods: In this study, 25OH vitamin D3 (25OHD3) levels of 100 samples consecutively accepted to biochemistry laboratory regardless of age and sex were measured by the LC-MS/MS method, and each sample was restudied after 1/10 dilution. After dilution restudy, two groups were obtained-group 1 (results deviating below 20%) and group 2 (results deviating above 20%)—and the difference between the groups was investigated. There were 79 patients in group 1 and 21 patients in group 2. In our study, lipid profiles (triglyceride, total cholesterol, HDL, LDL) from the same samples of consecutive vitamin D patients were studied.

Results: It was observed that the triglyceride, total cholesterol HDL, LDL, and 25OHD3 measurements of group 1 and group 2 were similar (p > 0.05). While the mean vitamin D value in the second group was 9.94 ± 7.85, the mean vitamin D value after dilution was measured as 39.23 ± 18.13 and was statistically significant. 25OHD3 concentrations of 21 patients out of 100 were found to be falsely low. Measurements were repeated to confirm the results.

Conclusion: The matrix effect caused by exogenous and endogenous interferences in the blood could be a hidden factor increasing the prevalence of vitamin D deficiency by causing falsely low 25OHD3 values. Suspicious results should be remeasured by a dilution study.

Keywords: 25OHD3, mismeasurement, LC-MS/MS, matrix effect, dilution, false result.