{
    "title": "Huge variation in vitamin D test results",
    "slug": "huge-variation-in-vitamin-d-test-results",
    "aliases": [
        "/Huge+variation+in+vitamin+D+test+results+-+July+2010",
        "/606"
    ],
    "tiki_page_id": 606,
    "date": "2010-07-16",
    "categories": [
        "Tests"
    ],
    "tags": [
        "Tests",
        "autoimmune",
        "blood levels",
        "high dose",
        "intervention",
        "multiple sclerosis",
        "therapeutic intervention",
        "vitamin d",
        "vitamin d blood test"
    ]
}


# Determining Vitamin D Status: A Comparison between Commercially Available Assays

 **based on hundreds of blood samples being tested by three different methods** 

from http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0011555

<span>[tiki-download_file.php?fileId=1307]</span>

Greta Snellman1*, Håkan Melhus2,3, Rolf Gedeborg3,4, Liisa Byberg1,3, Lars Berglund3, Lisa Wernroth3, Karl Michaëlsson1,3

1 Section of Orthopaedics, Department of Surgical Sciences, University Hospital, Uppsala, Sweden, 2 Section of Clinical Pharmacology, Department of Medical Sciences, University Hospital, Uppsala, Sweden, 3 Uppsala Clinical Research Centre, University Hospital, Uppsala, Sweden, 4 Section of Anaesthesiology and Intensive Care, Department of Surgical Sciences, University Hospital, Uppsala, Sweden

Background 

Vitamin D is not only important for bone health but can also affect the development of several non-bone diseases. The definition of vitamin D insufficiency by serum levels of 25-hydroxyvitamin D depends on the clinical outcome but might also be a consequence of analytical methods used for the definition. Although numerous 25-hydroxyvitamin D assays are available, their comparability is uncertain. We therefore aim to investigate the precision, accuracy and clinical consequences of differences in performance between three common commercially available assays.

Methodology/Principal Findings

Serum 25-hydroxyvitamin D levels from 204 twins from the Swedish Twin Registry were determined with high-pressure liquid chromatography-atmospheric pressure chemical ionization-mass spectrometry (HPLC-APCI-MS), a radioimmunoassay (RIA) and a chemiluminescent immunoassay (CLIA). High inter-assay disagreement was found. Mean 25-hydroxyvitamin D levels were highest for the HPLC-APCI-MS technique (85 nmol/L, 95% CI 81–89), intermediate for RIA (70 nmol/L, 95% CI 66–74) and lowest with CLIA (60 nmol/L, 95% CI 56–64). 

Using a 50-nmol/L cut-off,  **8%**  of the subjects were insufficient using HPLC-APCI-MS,  **22%**  with RIA and  **43%**  by CLIA. Because of the heritable component of 25-hydroxyvitamin D status, the accuracy of each method could indirectly be assessed by comparison of within-twin pair correlations. The strongest correlation was found for HPLC-APCI-MS (r = 0.7), intermediate for RIA (r = 0.5) and lowest for CLIA (r = 0.4). Regression analyses between the methods revealed a non-uniform variance (p<0.0001) depending on level of 25-hydroxyvitamin D.

Conclusions/Significance

 **There are substantial inter-assay differences in performance. The most valid method was HPLC-APCI-MS. Calibration between 25-hydroxyvitamin D assays is intricate.** 

---

Chart from PDF shows the three methods would have 8%, 22% and 43% of the group as being insufficient - if 50 nmols was the definition of insufficient

<img src="https://d378j1rmrlek7x.cloudfront.net/attachments/gif/chart-of-differences-of-vitamin-d-testing.gif" alt="image" style="max-width: 600px;">

# The error bounds of the means do not even overlap

## It would appear that the same blood sample could be 'measured' as being 38, 28, and 24 ng/ml

<img src="https://d378j1rmrlek7x.cloudfront.net/attachments/gif/test-means.gif" alt="image" style="max-width: 600px;">

I did not know that a Bland-Altman plot was. It was described in many places on the internet, such as

"A Bland-Altman plots compare two assay methods. It plots the difference between the two measurements on the Y axis, and the average of the two measurements on the X axis."  

definition from http://www.graphpad.com/help/prism5/prism5help.html?stat_bland_altman.htm

So, I think that if we take the average of the reading for HPLC and RIA at say 100nmol, then the actual reading by one of those methods could be as little as 40 nmol and as much as 160 nmol.

The line on the chart shows that the average difference between those two methods was just 15 nmol.  

It would appears that something like a standard deviation is from 70 to 130 nmol - pretty wide

(in ng/ml: average of 40 ng could be 16 ng on one test and 64 ng on the other, but would often be in the range of 28 to 52 ng/ml)

<img src="https://d378j1rmrlek7x.cloudfront.net/attachments/gif/ba-plot.gif" alt="image" style="max-width: 600px;">

# Other vitamin D test references on the the VitaminDWiki are found in Category  **Test for D** 

https://www.VitaminDWiki.com/tiki-download_file.php?fileId=261 vit D blood test review of types

https://www.VitaminDWiki.com/tiki-download_file.php?fileId=263  Vit D blood testing accuracy